.container{
position:relative;
width:400px;
height:200px;
border:2px solid black;
margin:auto;
}

.box1{
position:absolute;
top:40px;
left:60px;
width:150px;
height:100px;
background:lightblue;
text-align:center;
line-height:100px;
}

.box2{
position:absolute;
top:70px;
left:100px;
width:150px;
height:100px;
background:lightcoral;
text-align:center;
line-height:100px;
}